<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<div th:fragment="searchAddressInfo">
    <div class="c-query-panel" id="addressInfoFilterBox" style="display:none">
        <div class="c-group-box-title">
            <span>查询区分支</span>
        </div>
        <form id="addressInfoSearchForm" class="form-horizontal" method="post">
            <div class="form-group">
                    <label class="col-sm-2">地址信息:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="mSearch" name="mSearch" placeholder="请输入地址信息">
                    </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">地址编号:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nSearch" name="nSearch" placeholder="请输入地址编号">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <div class="btn-toolbar">
                        <button id = "resetButton" type="button" class="pull-rigth btn btn-default">重置</button>
                        <button id = "searchButton" type="button" class="pull-rigth btn btn-theme">查询</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr/>
    <script id = "addressInfoGridToolbar" type="text/x-kendo-template">
        <div class="btn-toolbar">
            <button class="fa fa-download btn" id="addressInfoExportButton"><em>下载</em></button>
            <button class="fa fa-filter btn" id="addressInfoFilterButton"><em>筛选</em></button>
            <!--
            <button data-toggle="modal" data-target="\\#addressInfoDeleteModal" class="btn fa fa-trash"><em>删除</em></button>
            <button type="button" data-toggle="modal" data-target="\\#addressInfoEditModal" class="btn fa fa-pencil-square"><em>编辑</em></button>
            -->

            <button id="addressDelete" class="btn fa fa-trash"><em>删除</em></button>
            <button id="addressEdit" class="btn fa fa-pencil-square"><em>编辑</em></button>
            <button data-backdrop="static" data-toggle="modal" data-target="\\#addressInfoCreateModal" class="btn fa fa-plus"><em>新增</em></button>
        </div>
    </script>
    <div id="addressInfoGrid"></div>
 </div>
 </html>