<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="@{base/header}::header"></head>
<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/base/basecss.css}"/>
</head>
<body>
<!--应用开始-->
    <div class="app-main">
        <div th:replace="@{addressmanage/AddressInfoCreate}::addAddressInfo"></div>
        <div th:replace="@{addressmanage/AddressInfoDelete}::deleteAddressInfo"></div>
        <div th:replace="@{addressmanage/AddressInfoEdit}::editAddressInfo"></div>
        <div th:replace="@{addressmanage/AddressInfoSearch}::searchAddressInfo"></div>
        <div th:replace="@{addressmanage/AddressInfoShow}::showAddressInfo"></div>
    </div>
<!--应用结束-->
    <div th:replace="@{base/footer}::footer"></div>

<script th:src="@{/js/addressmanage/addressInfo.js}" type="text/javascript" th:inline="javascript"></script>
</body>
</html>