<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--<link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}"  href="../../static/css/common/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" th:href="@{/css/common/font-awesome.min.css}" href="../../static/css/common/font-awesome.min.css"/>-->
    <!--<link rel="stylesheet" th:href="@{/css/common/kendo.bootstrap.min.css}" href="../../static/css/common/kendo.bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" th:href="@{/css/common/kendo.common.min.css}" href="../../static/css/common/kendo.common.min.css"/>-->
    <link rel="stylesheet" th:href="@{/css/common/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common/toastr.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common/messenger.css}" />
    <link rel="stylesheet" th:href="@{/css/common/messenger-theme-future.css}" />
    <link rel="stylesheet" th:href="@{/css/common/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/kendo.bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common/kendo.common.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login/style.default.css}" id="theme-stylesheet">
</head>
</html>